/*
#F48E90 rose-beige
#FFFFFF blanc
#333333 noire

*/
.navbar-content {
  margin-top: 50px;
  margin-bottom: 50px;
}
ul {
}
.navbar-content li {
  list-style: none;
  padding: 0px 20px;
}

li:hover {
  list-style: none;
  color: #FFFFFF;
  background-color: #F48E90;
  cursor: pointer;
}
