/*
#F48E90 rose-beige
#FFFFFF blanc
#333333 noire

*/

#logo {
  max-width: 300px;
  height: auto;
  margin-bottom: 2em;
}

.container-rs{
   position: absolute;
   bottom: 0px;
}

.container-rs p {
   margin-top: 20px;
}

.logo-rs{
  width: 50px;
  height: 50px;
  margin: 0px 23px;
}

.sidebar-content{
  height: 100vh;
  overflow: hidden;
  position: fixed;
}
