/*
#F48E90 rose-beige
#FFFFFF blanc
#333333 noire
#90C3D9 bleu

*/

.competences-content img{
  width: 70px;
}

.competences-content {
  margin-bottom: 30px;
}

#collaborer {
  background-color: #90C3D9;
  padding: 30px 40px;
}

#savoir-plus {
  background-color: #90C3D9;
  padding: 20px;
}

#savoir-plus p, #savoir-plus h2, #collaborer h2, #collaborer p {
  color: #FFFFFF;
}

#qui-suis-je, #collaborer, #formation-content, #competences {
  margin-bottom: 80px;
}
