/*
#F48E90 rose-beige
#FFFFFF blanc
#333333 noire

*/
ul {
  padding: 0
}
li {
  list-style: none;
  padding: 6px;
}

li:hover {
  list-style: none;
  background-color: #F48E90;
  border: 1px solid #F48E90;
  padding: 5px;
}

.nav-bar-s a {
  text-decoration: none !important;
  color: #333333 !important;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.nav-bar-s a:hover {
  text-decoration: none !important;
  color: #FFFFFF !important;
  text-transform: uppercase;
}
