/*
#F48E90 rose-beige
#FFFFFF blanc
#333333 noire
#90C3D9 bleu
*/

.contact-logo {
  width: 65px;
  margin-right: 30px;
}
.me-trouver {
  margin-bottom: 70px;
}
#main-contact span {
  font-size: 36px;
}
#main-contact h2 {
  font-size: 36px;
  margin: 90px 0px;
  text-transform: uppercase;
}
#main-contact h2 span{
  font-weight: bold;
}
#main-contact p {
  line-height: normal;
  margin-bottom: 0px;
}

.btn-info {
  font-size: 1.5em!important;
  background-color: #90C3D9 !important;
  border-color: #90C3D9 !important;
}
.btn-info:hover {
  background-color: #86B5C9 !important;
  border-color: #86B5C9 !important;
}

.form-group {
  margin-bottom: 30px!important;
}
