/*
#F48E90 rose-beige
#FFFFFF blanc
#333333 noire

*/
#card-container {
  /* background: url("logo.png"); */
  /* background-color: #333333; */
  width: 380px;
  height: 300px;
  overflow: hidden;
}
#card-container img{
  /* background: url("logo.png"); */
  height: 100%!important;
  z-index: -1;

}

#card-container h3{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
}
#card-container h4{
  color: #FFFFFF;
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 1;
}
