/*
#F48E90 rose-beige
#FFFFFF blanc
#333333 noire

*/
#home-container{
  min-height: 933px;
}

#main-background {
  background-image: url('https://res.cloudinary.com/gillmann/image/upload/v1547918663/portfolio-julia/bg-index.jpg');
  background-size: cover;
  width: auto;
}

#bienvenue {
  width: 900px;
}

#home-text{
  color: #FFFFFF;
}
